<ul>
<li><a href="#v-documentation">V Documentation</a>
<ul>
<li><a href="#introduction">Introduction</a></li>
<li><a href="#hello-world">Hello World</a></li>
<li><a href="#comments">Comments</a></li>
<li><a href="#functions">Functions</a></li>
<li><a href="#variables">Variables</a></li>
<li><a href="#basic-types">Basic types</a></li>
<li><a href="#strings">Strings</a></li>
<li><a href="#arrays">Arrays</a></li>
<li><a href="#maps">Maps</a></li>
<li><a href="#if">If</a></li>
<li><a href="#in-operator">In operator</a></li>
<li><a href="#for-loop">For loop</a></li>
<li><a href="#match">Match</a></li>
<li><a href="#structs">Structs</a></li>
<li><a href="#access-modifiers">Access modifiers</a></li>
<li><a href="#methods">Methods</a></li>
<li><a href="#pure-functions-by-default">Pure functions by default</a></li>
<li><a href="#high-order-functions">High order functions</a></li>
<li><a href="#references">References</a></li>
<li><a href="#constants">Constants</a></li>
<li><a href="#println">println</a></li>
<li><a href="#modules">Modules</a></li>
<li><a href="#interfaces">Interfaces</a></li>
<li><a href="#enums">Enums</a></li>
<li><a href="#optionresult-types--error-handling">Option/Result types &amp; error handling</a></li>
<li><a href="#generics">Generics</a></li>
<li><a href="#concurrency">Concurrency</a></li>
<li><a href="#decoding-json">Decoding JSON</a></li>
<li><a href="#testing">Testing</a></li>
<li><a href="#memory-management">Memory management</a></li>
<li><a href="#defer">Defer</a></li>
<li><a href="#orm">ORM</a></li>
<li><a href="#vfmt">vfmt</a></li>
<li><a href="#writing_documentation">writing_documentation</a></li>
</ul>
</li>
<li><a href="#advanced-topics">Advanced Topics</a>
<ul>
<li><a href="#calling-c-functions-from-v">Calling C functions from V</a></li>
<li><a href="#compile-time-if">Compile time if</a></li>
<li><a href="#reflection-via-codegen">Reflection via codegen</a></li>
<li><a href="#limited-operator-overloading">Limited operator overloading</a></li>
<li><a href="#inline-assembly">Inline assembly</a></li>
<li><a href="#translating-cc-to-v">Translating C/C++ to V</a></li>
<li><a href="#hot-code-reloading">Hot code reloading</a></li>
<li><a href="#cross-compilation">Cross compilation</a></li>
<li><a href="#cross-platform-shell-scripts-in-v">Cross-platform shell scripts in V</a></li>
<li><a href="#appendix-i-keywords">Appendix I: Keywords</a></li>
<li><a href="#appendix-ii-operators">Appendix II: Operators</a></li>
</ul>
</li>
</ul>
