{% set active_page = 'home' %} 
{% set page_title = 'The V Documentation' %} 
{% include "./components/head.njk" %}
{% include "./components/nav.njk" %}

{% include "./docs/docs.njk" %}

{% include "./components/foot.njk" %}
