<div class="section" style="flex-direction: column">
  <div class="block">
    <h1>Built in V</h1>
    <div class="built-in-v">
      <div class="first">
        <h2>V</h2>
        <p>V itself is written in V.</p>
      </div>
      <div class="second">
        <a href="https://volt-app.com/"><h2>Volt</h2></a>
        <p>Native desktop client for Slack, Skype, Matrix, Telegram, Twitch and many more services.</p>
      </div>

      <div class="first">
        <h2>Filey</h2>
        <p>Cross-platform file manager with Miller Columns and built-in selective sync with major cloud platforms.</p>
      </div>
      <div class="second">
        <a href="https://github.com/medvednikov/vid"><h2>Vid</h2></a>
        <p>Open-source 1 MB editor with the performance of Sublime Text.</p>
      </div>

      <div class="first">
        <h2>C/C++ to V translator</h2>
        <p>This tool already supports C and will soon support the latest standard of notoriously complex C++. It does full automatic conversion to human readable code.</p>
      </div>
      <div class="second">
        <a href="https://github.com/v/ui"><h2>V UI</h2></a>
        <p>Cross-platform widget toolkit using native APIs.</p>
      </div>

      <div class="first">
        <a href="https://github.com/medvednikov/gitly"><h2>Gitly</h2></a>
        <p>Open-source light and fast alternative to GitHub/GitLab.</p>
      </div>
      <div class="second">
        <a href="https://github.com/vlang/vorum"><h2>Vorum</h2></a>
        <p>Right now it's very basic forum/blogging software, but in the future it will be a full featured light alternative to Discourse.<br>The V forum runs on Vorum.</p>
      </div>

      <div class="first">
        <a href="https://github.com/vpervenditti/vgram"><h2>vgram</h2></a>
        <p>A bot library for Telegram Bot API.</p>
      </div>
      <div class="second">
        <a href="https://github.com/vlang/awesome-v"><h2>Awesome V</h2></a>
        <p>A curated list of awesome V frameworks, libraries and software</p>
      </div>

    </div>
    <div style="text-align: center">
      <p>Are you using V to build your product or library? <a href="mailto:alex@medvednikov.com">Have it added to this list.</a></p>
    </div>
  </div>
</div>