<div class='button' style="background: #4a607e">
  <img class='logo' src='apple.png' />
  <div class='text'>
    <span class='link'>Download for MacOS</span>
    <span class='details'>v0.1.24 - 1.2MB</span>
  </div>
  <img class='right-icon' src='down.png' />
</div>