<div class='content landing'>
  <div class='hero'>
    <div class='info'>
      <h1>The V Programming Language</h1>
      <p>Simple, fast, safe, compiled language for developing maintainable software.</p>
      <a class='button' href="https://github.com/vlang/v">
        <i class="fab fa-github download-icon"></i>
        <div class='text'>
          <span class='link'>github.com/vlang/v</span>
          <span class='details'><svg viewBox='0 0 14 16' version='1.1' width='12' height='14' aria-hidden='true'><path fill-rule='evenodd' d='M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74L14 6z' /></svg>16k</span>
        </div>
      </a>
      {% include "./download-button.njk" %}
      {% include "./links.njk" %}
      {% include "./social.njk" %}
    </div>
    {% include "./examples.njk" %}
  </div>
  <i>V is an actively developed language at an early stage. It will stabilize by the time of the 0.2 release planned for January 2020.</i>
  {% include "./sections.njk" %}
</div>