<div class='links'>
  <a href="/editors">Supported Editors</a>
  <a href="https://fast.vlang.io/">Is V Still fast?</a>
  <a href="https://github.com/vlang/v/blob/master/CHANGELOG.md">Changelog</a>
</div>