<div class='social'>
  <a href='https://twitter.com/v_language'>{% include "../icons/twitter.html" %}</a>
  <a href='https://discord.gg/vlang'>{% include "../icons/discord.html" %}</a>
  <a href='https://forum.vlang.io/'>{% include "../icons/chat-bubble.html" %}</a>
  <a href='https://www.youtube.com/channel/UCLZIElNyubHOvbfudT7KS1A'>{% include "../icons/youtube.html" %}</a>
  <a href='https://t.me/vlang_en'>{% include "../icons/telegram.html" %}</a>
</div>