<div class='social'>
  <a href='https://twitter.com/v_language'><i class='fab fa-twitter'></i></a>
  <a href='https://discord.gg/vlang'><i class='fab fa-discord'></i></a>
  <a href='https://forum.vlang.io/'><i class='fas fa-comments'></i></a>
  <a href='https://www.youtube.com/channel/UCLZIElNyubHOvbfudT7KS1A'><i class='fab fa-youtube'></i></a>
  <a href='https://t.me/vlang_en'><i class='fab fa-telegram telegram'></i></a>
</div>

<noscript>
    <style>
        .fa-twitter:before { content:"Twitter"; }
        .fa-discord:before { content:"Discord"; }
        .fa-comments:before { content:"Forum"; }
        .fa-youtube:before { content:"Youtube"; }
        .fa-telegram:before { content:"Telegram"; }
    </style>
</noscript>