<div class="section" style="flex-direction: column">
  <div class="block">
    <h1>Sponsors</h1>
    <div style="margin-top: 16px">
      <a href="https://data.mx.com/">
        <img style="height: 250px" src="/sponsor_mx.png" />
      </a>
    </div>
  </div>
  <a href="https://patreon.com/vlang" style="margin: 0 0px 32px 0px; text-align: center">
    Become a sponsor
  </a>
</div>