.documentation
  display: flex
  justify-content: center
  max-width: 1200px
  .markdown
    margin-left: 32px

    h1, h2, h3
      margin: 4px 0px
      font-weight: normal
    
    h1
      margin: 8px 0px