<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="/fontawesome/js/all.min.js" crossorigin="anonymous"></script>
  <link href="app.css" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Roboto:400,300,100,200,500,700|Roboto+Mono:400,300,100,200,500" rel="stylesheet" type="text/css">
  <script src="tokenizer.js"></script>
  <title>{{page_title}}</title>
</head>
<body>
<div id='app'>