<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/b633fd6781.js" crossorigin="anonymous"></script>
  <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
  <link href="app.css" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Roboto:400,300,100,200,500,700|Roboto+Mono:400,300,100,200,500" rel="stylesheet" type="text/css">
  <script src="tokenizer.js"></script>
  <title>{{page_title}}</title>
</head>
<body>
<div id='app'>