<div class='header'>
  <div class='flex'></div>
  <a href='/'><img src='/v-logo.png' class='logo' /></a>

  <div class='nav'>
    <a href='https://github.com/vlang/V/tree/master/examples' class='item'>Examples</a>
    <a href='/docs' class='item {% if active_page == "docs" %}active{% endif %}'>Documentation</a>
    <a href='/modules' class='item {% if active_page == "modules" %}active{% endif %}'>Modules</a>
    <a href='https://vpm.vlang.io/' class='item'>vpm</a>
    <a href='/play' class='item {% if active_page == "play" %}active{% endif %}'>Playground</a>
    <a href='/' class='item {% if active_page == "faq" %}active{% endif %}'>FAQ</a>
    <a href='/' class='item {% if active_page == "backers" %}active{% endif %}'>Backers</a>
  </div>
  <a href='https://patreon.com/' class='patreon'><img src='https://vlang.io/img/patreon.png' /></a>
  <div class='flex'></div>
</div>